name: Brev Connection Test

on:
  workflow_dispatch:  # Manual trigger only

jobs:
  test-brev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Brev CLI
        run: |
          sudo bash -c "$(curl -fsSL https://raw.githubusercontent.com/brevdev/brev-cli/main/bin/install-latest.sh)"

      - name: Login to Brev
        run: echo "No" | brev login --token ${{ secrets.BREV_TOKEN }} --skip-browser

      - name: enter with shell
        run: brev shell test1-pipeline

      - name: Show .brev folder
        run: |
          cd $HOME/.brev && ls -la
          HOSTNAME_BREV=$(grep "Hostname" ~/.brev/ssh_config | head -1 | awk '{print $2}')
          echo "HOSTNAME_BREV=$HOSTNAME_BREV" >> $GITHUB_ENV

      - name: Show ssh config
        run: |
          cd $HOME/.brev && cat ssh_config

      - name: Show hostname
        run: echo $HOSTNAME_BREV

      - name: connect to brev
        run: ssh -F ~/.brev/ssh_config test1-pipeline "echo == OS ==;
          . /etc/os-release;
          echo \$PRETTY_NAME\;
          echo == GPU / Driver ==;
          nvidia-smi
          "
        