name: Test Brev Connection

on:
  workflow_dispatch:

jobs:
  test-brev-connection:
    runs-on: ubuntu-latest
    steps:
      - name: Install BREV CLI
        run: |
          sudo apt-get update && sudo apt-get install -y python3 curl
          sudo bash -c "$(curl -fsSL https://raw.githubusercontent.com/brevdev/brev-cli/main/bin/install-latest.sh)"
          echo "No" | brev login --token ${{ secrets.BREV_TOKEN }} --skip-browser
          brev start test-pipeline
          cd $HOME
          ls -a
          cd .brev
          ls -a
          cat ssh_config